body {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #f3ecec;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gainsboro;
  padding-left: 15px;
  .header-text {
    display: flex;
    flex-direction: column;
  }
  .header-img {
    padding: 10px 15px;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .work {
    max-width: 66%;

  }
  .about {
    padding-left: 15px;
    border-left: 2px solid gainsboro;
  }
}
article {
  h3 {
    margin: 10px 15px;
    border-bottom: 2px solid gainsboro;

  }
}
.social {
  display: flex;
  align-items: center;
  text-decoration: none;
}