body {
  max-width: 768px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #f3ecec;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font: 0.9em Arial,"Helvetica Neue",Helvetica,sans-serif
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gainsboro;
  padding-left: 15px;
  .header-text {
    display: flex;
    flex-direction: column;
  }
  .header-img {
    padding: 10px 15px;
    border-radius: 30px;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .work {
    width: 66%;
  }
  .about {
    width: 34%;
    border-left: 2px solid gainsboro;
  }
}
article {
  h3 {
    margin: 10px 15px;
    border-bottom: 2px solid gainsboro;
  }
  p {
    padding-left: 15px;
    line-height: 1.6em;
  }
  ul {
    line-height: 1.6em;
    a {
      padding: 0 0.5em 0 0;
      &:hover {
        color: lightgray;
      }
    }

  }
  a {
    padding-left: 15px;
    line-height: 1.3em;
    text-decoration: none;
    }
  svg {
    padding: 4px 10px;
    fill: blueviolet;
  }
}

.social {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  &:hover {
    color: lightgray;
  }
  &:hover .social-icon {
    fill: lightgray;
  }
}

.certificates-wrp {
  display: flex;
  flex-wrap: wrap;
}