body {
  max-width: 768px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #f3ecec;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  font: 0.9em Arial,"Helvetica Neue",Helvetica,sans-serif
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gainsboro;
  padding-left: 15px;
  .header-text {
    display: flex;
    flex-direction: column;
  }
  .header-img {
    padding: 10px 15px;
    border-radius: 30px;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .work {
    max-width: 35em;
  }
  .about {
    max-width: 24em;
    border-left: 2px solid gainsboro;
  }
}


article {
  padding: 0 15px;
  h3 {
    //margin: 10px 15px;
    border-bottom: 2px solid gainsboro;
  }
  p {
    line-height: 1.6em;
  }
  ul {
    padding-left: 15px;
    line-height: 1.6em;
    a {
      &:hover {
        color: lightgray;
      }
    }
  }
  a {
    line-height: 1.3em;
    text-decoration: none;
    }
  svg {
    padding: 4px 10px;
    fill: blueviolet;
  }
}

.social {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  &:hover {
    color: lightgray;
  }
  &:hover .social-icon {
    fill: lightgray;
  }
}

.certificates-wrp {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
    a:hover {
      filter: opacity(50%)
    }
}

@media only screen and (max-width: 640px) {
  main {
    flex-direction: column;
    .work {
      max-width: 100%;
    }
    .about {
      max-width: 100%;
      border-left: none;
    }
  }
}
@media only screen and (max-width: 360px) {
  .header {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
    }
  }
}
